/* BEGIN EXTERNAL SOURCE */
span {
padding-bottom: 2px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
span {
padding-bottom: 2px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
height: 65px; padding: 0 30px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
nav {
width: calc(100% - 30px); z-index: 999;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
span {
padding-bottom: 2px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
span {
padding-bottom: 2px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
select {
*/
select {
display: none;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
border-color: rgba(256, 256, 256, .1) !important;
}
/* END EXTERNAL SOURCE */
